* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    width: 100%;
    height: 80vh;
    background: no-repeat url(../../images/plano_de_fundo_instagram.jpeg);
    background-size: cover;
}

body h1 {
    position: relative;
    width: 100%;
    height: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
}

body main {
    position: relative;
    width: inherit;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body main section {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    font-size: 1.5em;
    background-color: rgba(65, 252, 252, 0.479);
    border-radius: 20px;
    width: 450px;
    height: 350px;
    box-shadow: 0 0 30px rgba(72, 255, 255, 0.959);
}

body main section label {
    position: relative;
    width: 100%;
    font-size: 1.3em;
    font-weight: 700;
}

body main section input {
    position: relative;
    width: 100%;
    height: 30px;
    padding: 0 8px;
}

main section button {
    background-color: #0095f6;
    color: white;
    border: 0 solid;
    width: 80%;
    height: 35px;
    border-radius: 10px;
    margin-top: 10px;
    transition: 0.3s ease-in-out;
}
main section button:hover {
    background-color: #008be7;
    letter-spacing: 3px;
    transition: 0.3s ease-in-out;
}

body main section span a {
    color: blue;
    font-weight: 600;
}